
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
box-sizing: border-box;
font-family: arial,Helvetica Neue,sans-serif;
font-size: 14px;
line-height: .75;
letter-spacing: -.5px;

}

.header{
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1.5px solid rgb(196, 192, 192);
    border-radius: 7.5px;
    box-shadow: 2px 2px 6px 0px rgba(185, 179, 179, 0.2);
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo {
    width: 150px;
}

.card{
    width: 240px;
    height: 300px;
    border: 0.5px solid rgb(196, 192, 192);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1rem;

}


.normal-text {
	color: black;
	text-decoration: none;

  }

  .small-text {
	font-size: 13px;
	color: #3a3535;
  }


.card > img{
    width: 100%;
    border-radius: 7.5px;

}

.raating-cost-distance{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.card:hover, .header:hover, .menu-item:hover {
 
    cursor: pointer;
    text-decoration: none;

    transform: scale(1.025);
    border: 1.5px solid rgb(196, 192, 192);

  
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

}

.restaurants-list {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;

}

.search-container{
    display: flex;
    width:50%;
    justify-content: center;
    margin: 0 auto;
}
.search-btn{
    color: #fff;
    background-color: red;
    outline-color: none;
    border-radius: 12.5px;

    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: 2.5px 2.5px;
}
.search-input{
    flex: 1;
    width: 160px;
    font-size: 1.5rem;
    font-weight: 400;
    min-height: 4S0px;

    outline: none;
    color: #495057;
    background-color: #fff;
    border: 1px solid #1b3753;
    border-radius: 25px;
    line-height: 1.66;
    padding: 5px 5px;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    background: lightgrey;
    margin: 20px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 20px;

}

.restaurant-deatils{
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(48, 48, 44);
    color:white;
    margin-left:15px;
    padding:10px;
}
.restaurant-img, .restaurant-info {
    height:200px;
    width: 100%;
}
.restaurant-img > img{
    height: 100%; 
    object-fit: contain;
}

.restaurant-info{
  
    box-sizing: inherit;
    display:flex;
    flex-direction: column;
    justify-content:baseline;
    align-items:baseline;
}
.rating-cost{
    display: flex;
}
.rating, .cost{
    display: inline-block;
    width:100%;
}

.menu{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;



}

.menu-item{
    display:flex;
    height: 150px;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: 0.5px solid rgb(196, 192, 192);
    border-radius: 20px !important;


}

.item-deatils{
    display: flex;
    height: 100%;
    width: 50%;
    line-height: normal;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top:5px;
    padding:5px;
    box-sizing: border-box;
}
.item-descrption{
    display: block;
    padding: auto;
    margin: 5px;
    height: 60%;
}
.item-image{
    padding:5px;
    width:175px;
}

.item-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5%;
}
.text-success{
    color: green;
}
.text-danger{
    color: red;
}

.star {
	position: relative;
  
	display: inline-block;
	width: 0;
	height: 0;
  
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
  
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid white;
	border-left: 0.3em solid transparent;
  
	font-size: 6px;
}
	::before,
	::after {
	  content: "";
  
	  display: block;
	  width: 0;
	  height: 0;
  
	  position: absolute;
	  top: 0.6em;
	  left: -1em;
  
	  border-right: 1em solid transparent;
	  border-bottom: 0.7em solid white;
	  border-left: 1em solid transparent;
  
	  transform: rotate(-35deg);
	}
  
	::after {
	  transform: rotate(35deg);
	}
  
  
  .star-bg-positive {
	background: green;
	color: white;
	font-size: 12px;
  }
  
  .star-bg-negative {
	background: #db7c38;
	color: white;
	font-size: 12px;
  }
   */